
.month {
    width: 100%;
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.month h2 {
    text-align: center;
    /*margin-bottom: 10px;*/
    font-size: 30px;
    margin: 0 30px;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}
.day {
    padding: .5rem;
    border-radius: .25rem;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weekday {
    font-weight: bold;
    background-color: #d4d4d4;
    min-height: unset;
}
.emoji-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-top: 5px;
}
.emoji {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.today {
    filter: drop-shadow(0px 0px 12px #7cfc7c)
}

.dark .today {
    filter: drop-shadow(0px 0px 12px white)
}

.multiday-event {
    background-color: rgb(114 0 219 / 32%); /* фон для многодневных событий */
    border-radius: .25rem;
    padding: .25rem;
    margin-bottom:.25rem;
}

.season-event {
    background-color: rgba(45, 241, 15, 0.47);
}


#closeModal {
    top: 0;
    right: 20px;
}

.eventList_elem{
    display: flex;
    align-items: center;
    gap: 5px;
}

.pink_heading{
    font-size: 48px;
    line-height: 1.15em;
    color: deeppink;
    font-weight: 900;
}

.strelka{
    position: absolute;
    top: 35px;
    right: 116px;
    transform: rotate(-66deg);
}


.artefact-icon {
    display: inline-block;
}

.calendar-tooltip {
    position: relative;
}

.calendar-tooltip .calendar-tooltip__content {
    visibility: hidden;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    white-space: nowrap;
    font-size: 10px;

    /* Анимация */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip__top{
    bottom: 120%;
    left:50%;
}

.tooltip__bottom{
    top: 100%;
    left:0;
}

.calendar-tooltip:hover > .calendar-tooltip__content {
    visibility: visible;
    opacity: 1;
}

.artefact-icon__size-25{
    width: 30px;
    height: 30px;
}

.artefact-icon__size-16{
    width: 22px;
    height: 22px;
}

.artefact_in_case_count{
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 10px;
    font-size: 10px;
    text-shadow:    -1px -1px 0 black,
                    1px -1px 0 black,
                    -1px 1px 0 black,
                    1px 1px 0 black;
}


.addInDay{
    opacity: 0;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.day:hover .addInDay{
    opacity: 1;
}

.highlightGreen{
    filter: drop-shadow(0px 0px 6px rgba(47, 255, 0, 0.8));
}
.highlightRed{
    filter: drop-shadow(0px 0px 6px rgba(255, 0, 38, 0.8));
}


.artefact_in_case_count_container{
    position: relative;
}
.artefact_count_input{
    position: absolute;
    z-index: 999;
    bottom: 100%;
    left: 0;
    width: 30px;
    height: 16px;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(55 65 81);
    border-radius: 4px;
    background-color: rgb(17 24 39);
    color: white;
    text-align: center;
}



.case-tooltip {
    position: relative;
}

.case-tooltip:hover {
    border-radius: 0 !important;
    z-index: 999;
    filter: drop-shadow(0 0 5px black);
}

.case-tooltip .case-tooltip__content {
    visibility: hidden;
    width: 100%;
    color: #fff;
    text-align: left;
    position: absolute;
    font-size: 10px;
    left: 0;
    /* Анимация */
    opacity: 0;
    transition: opacity 0.1s, top 0.3s, bottom 0.3s;
}

.case-tooltip__top{
    bottom: 0;
    padding: .25rem .25rem 0 .25rem;
    border-radius: 4px 4px 0 0;
}

.case-tooltip__bottom{
    top: 0;
    padding: 0 .25rem .25rem .25rem;
    border-radius: 0 0 4px 4px;
}

.case-tooltip:hover > .case-tooltip__content {
    visibility: visible !important;
    opacity: 1;
}
.case-tooltip:hover > .case-tooltip__top {
    bottom: 100%;
}
.case-tooltip:hover > .case-tooltip__bottom {
    top: 100%;
}


.addReminder{
    opacity: 0;
}

.emoji:hover > .addReminder{
    opacity: 1;
}
