
.month {
    width: 100%;
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.month h2 {
    text-align: center;
    /*margin-bottom: 10px;*/
    font-size: 30px;
    margin: 0 30px;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: .5rem;
    text-align: center;
}
.day {
    padding: .5rem;
    border-radius: .25rem;
    position: relative;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weekday {
    font-weight: bold;
    background-color: #d4d4d4;
    min-height: unset;
}
.emoji-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-top: 5px;
}
.emoji {
    font-size: 12px;
}

.today {
    filter: drop-shadow(0px 0px 12px #7cfc7c)
}

.dark .today {
    filter: drop-shadow(0px 0px 12px white)
}

.multiday-event {
    background-color: rgb(114 0 219 / 32%); /* фон для многодневных событий */
    border-radius: .25rem;
    padding: .25rem;
    margin-bottom:.25rem;
}

.season-event {
    background-color: rgba(45, 241, 15, 0.47);
}


#closeModal {
    top: 0;
    right: 20px;
}

.eventList_elem{
    display: flex;
    align-items: center;
    gap: 5px;
}

.pink_heading{
    font-size: 48px;
    line-height: 1.15em;
    color: deeppink;
    font-weight: 900;
}

.strelka{
    position: absolute;
    top: 35px;
    right: 116px;
    transform: rotate(-66deg);
}


.artefact-icon {
    display: inline-block;
    /*margin: 2px;*/
}

.artefact-tooltip {
    position: relative;
    display: inline-block;
}

.artefact-tooltip .artefact-content {
    visibility: hidden;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
    bottom: 120%;
    left:50%;
    /*transform: translateX(-50%);*/
    white-space: nowrap;
    font-size: 10px;

    /* Анимация */
    opacity: 0;
    transition: opacity 0.3s;
}

.artefact-tooltip:hover .artefact-content {
    visibility: visible;
    opacity: 1;
}

.artefact-icon__size-25{
    width: 25px;
    height: 25px;
}

.artefact-icon__size-16{
    width: 16px;
    height: 16px;
}


.addInDay{
    opacity: 0;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.day:hover .addInDay{
    opacity: 1;
}

.highlightGreen{
    filter: drop-shadow(0px 0px 6px rgba(47, 255, 0, 0.8));
}
.highlightRed{
    filter: drop-shadow(0px 0px 6px rgba(255, 0, 38, 0.8));
}
